.homeRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoRoot {
  margin-top: 48px;
  width: 250px;
  justify-content: center;
}

.legendRoot {
  margin: 48px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.card {
  margin: 0;
  background-color: var(--color-white);
  padding: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 250px;
  width: 250px;
  align-content: center;
  color: var(--color-700);
}

h3 {
  background-color: var(--color-white);
  padding: 12px;
  align-self: stretch;
}
