.logoRoot {
  text-align: left;
  line-height: 1;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 12px;
}

.logoText {
  grid-column: 1 / 2;
  font-weight: 900;
}

.medium {
  font-size: 1.1rem;
}

.large {
  font-size: 3rem;
}

.logoImage {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  align-self: center;
}
