.root {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navButton {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-900);
  text-decoration: none;
}

.active {
  color: var(--color-300);
}
